<%= form_for @tweet, url: user_tweets_path(current_user), method: :post do |f| %>
  <%= f.text_area :tweet, :cols => "43", :rows => "5", placeholder: "Enter your tweet here..." %>

<%= image_tag @tweet.image, width: '300px' if @tweet.image? %>
<label class="btn btn-light btn-sm">
  <%= image_tag "attach.svg" %>    
  <span style="display:none;">
    <%= f.file_field :image %>
  </span>
</label>

  <%= f.submit :class => "btn btn-primary" %>
<% end %>