<div class="user-index-container">

  <%= render partial: "users/avatar" %>  

  <%= render partial: "users/trending" %>  

  <div class="tweets-col">
    <div class="card">
      <strong>You liked these tweets</br></strong>

        <% @like_tweets.each do |like| %>
          <p class="tweet-date"><strong><%= like.created_at.strftime("%a %e %b %Y") %>&nbsp<%= like.created_at.strftime("%I:%M%p") %></strong></p>
          <p class="tweet-text"><%= like.tweet %></p>
        <% end %>

    </div>
  </div>

  <%= render partial: "users/navigation" %>

  <div class="followers-col">
    <%= link_to "#{@user_tweets.count} Tweets", users_path, method: :get %></br>
    <%= link_to "Following #{@following.count} user", following_users_path, method: :get %></br>
    <%= link_to "#{@follower.count} Followers", follower_users_path, method: :get %></br>
    <%= link_to "#{@like_tweets.count} Likes", likelist_user_tweets_path(@user), method: :get %></br>
  </div>

</div>


<!-- The Modal -->
<div id="editProfileModal" class="modal">

    <%= render partial: "users/edit_profile_form" %>

</div>

<script>

// Get the modal
const modalEdit = document.getElementById('editProfileModal');

// Get the button that opens the modal
const btnEdit = document.getElementById("editProfile");

// Get the <span> element that closes the modal
const span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btnEdit.onclick = function() {
    modalEdit.style.display = "block";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modalEdit) {
        modalEdit.style.display = "none";
    }
}

</script>