<div class="container">
  <div class="row form-replies">
   <div class="reply-tweet-user-p">
     <table width: "100vw">
       <% @tweet_user.each do |u| %>
         <tr>
           <td class="reply-tweet-user-avatar"><%= image_tag u.user.img, class: "avatar-pic-for-like" %></td>
           <td><strong><%= u.user.name %></strong></br>
             @<%= u.user.handlename %></td>
         </tr>
         <tr>
           <td colspan="2"><strong>Tweets: </strong><%= @tweet.tweet %><br>
           <%= image_tag @tweet.image, width: '500px' %>
           </td>
         </tr>

         <% end %>
             
      </table>
    </div>
  </div>
  
  <div class="row form-replies">
    <%= form_for @reply, url: user_tweet_replies_path(current_user, @tweet) do |f| %>
      <div class="form-group">
        <%= f.text_area :reply, placeholder: "Leave your reply here...", :cols => "100%", :rows => "2", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
        <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>


  <div class="row row-replies">
    <% @tweet.replies.each do |reply| %>
      <p class="reply-date text-muted"><%= reply.created_at.strftime("%a %e %b %Y") %>&nbsp<%= reply.created_at.strftime("%I:%M%p") %></p>
      <p class="reply-text"><strong><%= reply.reply %></strong></p>
      <% if current_user %>
        <%= link_to "Delete", user_tweet_reply_path(current_user, @tweet, reply), method: :delete %>
      <% end %>
      <br />
    <% end%>
  </div>
<br />
<br />

<%= link_to 'Back to index', root_path %>
</div>
