<div class="user-index-container">

  <%= render partial: "avatar" %>  

  <%= render partial: "trending" %>  

  <div class="tweets-col">
    <div class="card">
      <% if @following_array.count == 0 %>
        <div class="search-header">You are following nobody</div>
      <% elsif @following_array.count == 1 %>
        <div class="search-header">You are following 1 user</div>
      <% else %>
        <div class="search-header">You are following <%= @following_array.count %> users</div>
      <% end %>
      <table class="result-table">

        <% @following_array.each do |f| %>
        <tr>
          <% if f[0].img? %>
            <td class="result-table-td-avatar"><%= image_tag f[0].img, class: "avatar-pic" %></td>
          <% else %>
            <td class="result-table-td-avatar"><%= image_tag('/assets/MissingProfile.jpg', class: "avatar-pic") %></td>
          <% end %>
          <td class="result-table-td-profile"><div class="result-table-td-name"><%= f[0].name%></div>
              @<%= f[0].handlename%>
              
              <%= form_tag profile_users_path, method: :get do %>
              <%= hidden_field_tag :ext_id, f[0].id %>
              <%= hidden_field_tag :follow_status, 1 %>
              <%= submit_tag 'View Profile', class: "view-profile" %>
              <% end %>
              
          </td>
          <td align="right" class="result-table-td-follow">
            <%= form_tag unfollow_users_path, method: :post do %>
            <%= hidden_field_tag :follow, current_user.id %>
            <%= hidden_field_tag :following, f[0].id %>
            <%= submit_tag 'Following', class: "following-button" %>
            <% end %>
          </td>
          
        </tr>
        <% end %>

      </table>
    </div>
  </div>

  <%= render partial: "navigation" %>

  <%= render partial: "counter" %>

</div>

  <%= render partial: "edit_profile_form" %>