<div class="user-index-container">

  <%= render partial: "avatar" %>  

  <%= render partial: "trending" %>  

  <div class="tweets-col">
    <div class="card">
      <strong>You are following these Users</br></strong>
      <table class="result-table">

        <% @following_array.each do |f| %>
        <tr>
          <td class="result-table-td-avatar"><%= image_tag f[0].img, class: "avatar-pic" %></td>
          <td class="result-table-td-profile"><div class="result-table-td-name"><%= f[0].name%></div>
              @<%= f[0].handlename%></td>
          <td align="right" class="result-table-td-follow">
          <%= form_tag unfollow_users_path, method: :post do %>
          <%= hidden_field_tag :follow, current_user.id %>
          <%= hidden_field_tag :following, f[0].id %>
          <%= submit_tag 'Following', class: "following-button" %>
          <% end %></td>
          
        </tr>
        <% end %>

      </table>
    </div>
  </div>

  <%= render partial: "navigation" %>

  <div class="followers-col">
    <%= link_to "#{@user_tweets.count} Tweets", users_path, method: :get %></br>
    <%= link_to "Following #{@following.count} user", following_users_path, method: :get %></br>
    <%= link_to "#{@follower.count} Followers", follower_users_path, method: :get %></br>
    <strong> Total likes</strong></br>
  </div>


</div>


<!-- The Modal -->
<div id="editProfileModal" class="modal">

    <%= render partial: "edit_profile_form" %>

</div>

<script>

// Get the modal
const modalEdit = document.getElementById('editProfileModal');

// Get the button that opens the modal
const btnEdit = document.getElementById("editProfile");

// Get the <span> element that closes the modal
const span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btnEdit.onclick = function() {
    modalEdit.style.display = "block";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modalEdit) {
        modalEdit.style.display = "none";
    }
}

</script>