<div class="user-index-container">

  <%= render partial: "avatar" %>  

  <%= render partial: "trending" %>  

  <div class="tweets-col">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>

    <div id = 'tweets_list_table'>
      <%= render partial: "tweetslist" %>
    </div>

  </div>

  <%= render partial: "navigation" %>

  <%= render partial: "counter" %>

</div>

  <%= render partial: "edit_profile_form" %>