<div class="user-index-container">
  <div class="avatar-col">
    <table>
      <tr>  
        <td><%= image_tag current_user.img, class: "avatar-pic" %></td>
        <td><strong class="avatar-name"><%= current_user.name %></strong></br>
        <div class="avatar-handlename">@<%= current_user.handlename%></div></br>
        <button id="editProfile" class="edit-profile-btn">Edit Profile</button></td>
      </tr>
    </table>
  </div>

  <div class="trending-col">
  
    <h5 class="trending-col-header"><strong>Trending on Twitta-Sphere</strong></h5>
    <%trending_array = []

      @tweets.each do |tweet|
        trending_array << tweet.tweet.scan(/#\w+/)
      end
      
      trending_array = trending_array.flatten 
      trending_hash = Hash.new(0) 
      
      trending_array.each do |v|
        trending_hash[v] += 1
      end
      
       trending_hash.sort.each do |key, value|
    %>

    <p class="trending-col-k"><strong><%= key %></strong></p>
    <p class="trending-col-v"><strong><%= value %></strong> tweets</p>

    <% end %>

  </div>

  <div class="tweets-col">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>

    <%= render partial: "tweetslist" %>

  </div>

  <div class="nav-col">

  </br>

    <p><%= form_tag search_users_path, method: :get, class: 'nav-col-form' do %>
    <%= text_field_tag :q, params[:q], placeholder: 'Search here', class: 'nav-col-searchbox' %>
    <%= image_submit_tag('/assets/find.png', class: 'nav-col-searchbutton') %>
    <% end %></p>

    <div class="dropdown">
      <button class="dropbtn">Account Options</button>
      <div class="dropdown-content">
        <a><%= link_to 'Change password', edit_user_registration_path, method: :get %></a>
        <a><%= link_to 'Terminate Account', user_path(current_user.id), method: :delete, data: {confirm:"Are you sure?"} %></a>
        <a><%= link_to('Log out', destroy_user_session_path, method: :delete) %></a>
      </div>
    </div>

  </div>

  <div class="followers-col">
    <%= link_to "#{@user_tweets.count} Tweets", users_path, method: :get %></br>
    <strong> Total Following</strong></br>
    <strong> Total Followers</strong></br>
    <strong> Total likes</strong></br>
  </div>


</div>


<!-- The Modal -->
<div id="editProfileModal" class="modal">

    <%= render partial: "edit_profile_form" %>

</div>

<script>

// Get the modal
const modalEdit = document.getElementById('editProfileModal');

// Get the button that opens the modal
const btnEdit = document.getElementById("editProfile");

// Get the <span> element that closes the modal
const span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btnEdit.onclick = function() {
    modalEdit.style.display = "block";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modalEdit) {
        modalEdit.style.display = "none";
    }
}

</script>