<div class="user-index-container">

  <%= render partial: "avatar" %>  

  <%= render partial: "trending" %>  

  <div class="tweets-col">

    Other user profile here</br>
    <%= @ext_user.name %>
    <%= @ext_user.id %>
    </br>

    Other user tweets here</br>

    <% @ext_tweet.each do |t| %>

      <%= t.tweet %>

    <% end %>

  </div>

  <%= render partial: "navigation" %>

  <div class="followers-col">
    <%= link_to "#{@user_tweets.count} Tweets", users_path, method: :get %></br>
    <%= link_to "Following #{@following.count} user", following_users_path, method: :get %></br>
    <%= link_to "#{@follower.count} Followers", follower_users_path, method: :get %></br>
    <strong> Total likes</strong></br>
  </div>


</div>


<!-- The Modal -->
<div id="editProfileModal" class="modal">

    <%= render partial: "edit_profile_form" %>

</div>

<script>

// Get the modal
const modalEdit = document.getElementById('editProfileModal');

// Get the button that opens the modal
const btnEdit = document.getElementById("editProfile");

// Get the <span> element that closes the modal
const span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btnEdit.onclick = function() {
    modalEdit.style.display = "block";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modalEdit) {
        modalEdit.style.display = "none";
    }
}

</script>