<div class="user-index-container">

  <%= render partial: "avatar" %>  

  <%= render partial: "trending" %>  

  <div class="tweets-col">

    You are viewing <strong>@<%= @ext_user.handlename %></strong> profile</br>
    
    <table class="result-table">
      <tr>
        <td class="result-table-td-avatar"><%= image_tag @ext_user.img, class: "avatar-pic" %></td>
        <td class="result-table-td-profile"><div class="result-table-td-name"><%= @ext_user.name%></div>
          @<%= @ext_user.handlename%></td>
        </td>

        <td align="right" class="result-table-td-follow">
          <% if @follow_status.to_i == 1 %>

            <%= form_tag unfollow_users_path, method: :post do %>
            <%= hidden_field_tag :follow, current_user.id %>
            <%= hidden_field_tag :following, @ext_user.id %>
            <%= submit_tag 'Following', class: "following-button" %>
            <% end %>

          <% else %>
            
            <%= form_tag follow_users_path, method: :post do %>
            <%= hidden_field_tag :follow, current_user.id %>
            <%= hidden_field_tag :following, @ext_user.id.to_s %>
            <%= submit_tag 'Follow', class: "follow-button" %>
            <% end %>

          <% end %>
        </td>

      </tr>
    </table>

    <strong>@<%= @ext_user.handlename %></strong> tweets the following...</br>

    <% @ext_tweet.each do |tweet| %>

      <div class="card">
        <div class="card-block">
          <p class="tweet-date"><strong><%= tweet.created_at.strftime("%a %e %b %Y") %>&nbsp<%= tweet.created_at.strftime("%I:%M%p") %></strong></p>
          <p class="tweet-text"><%= tweet.tweet %></p>

          <%= image_tag tweet.image, width: '300em' if tweet.image? %>

          <p class="options-text"><small class="text-muted">
          <%= link_to 'Reply', tweet_path(tweet), class: "btn btn-outline-primary btn-sm" %>
          <%= link_to 'Show', tweet_path(tweet), class: "btn btn-outline-primary btn-sm" %>

          <% if tweet.likes.any? { |like| like.user == current_user } %>
            <%= link_to image_tag("filled.svg"), dislike_user_tweet_path(@user, tweet), method: :delete, remote: true %>
          <% else %>
            <%= link_to image_tag("not_filled.svg"), like_user_tweet_path(@user, tweet), method: :post, remote: true %>
          <% end %>
        </small></p>
        </div>
      </div>

    <% end %>

  </div>

  <%= render partial: "navigation" %>

  <%= render partial: "counter" %>

</div>


<!-- The Modal -->
<div id="editProfileModal" class="modal">

    <%= render partial: "edit_profile_form" %>

</div>

<script>

// Get the modal
const modalEdit = document.getElementById('editProfileModal');

// Get the button that opens the modal
const btnEdit = document.getElementById("editProfile");

// Get the <span> element that closes the modal
const span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btnEdit.onclick = function() {
    modalEdit.style.display = "block";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modalEdit) {
        modalEdit.style.display = "none";
    }
}

</script>