<div class="user-index-container">
  
  <%= render partial: "avatar" %>  

  <%= render partial: "trending" %>  

  <div class="tweets-col">
    <div class="search-header">You have searched for <b><%= params[:q] %></b></div>
    <strong><%= link_to 'Back to Home page', users_path, method: :get %></strong></br>

    <% if @user_searches.empty? %>
      <strong>No Users found</strong></br>
    <% else%>
      <table border="1">
        
        <% @user_searches.each do |f| %>
          <tr>
            <td><%= image_tag f.img, class: "avatar-pic" %></td>
            <td><%= f.name%></br>
              @<%= f.handlename%></br>
              <%= f.id%></td>

          </tr>

        <% end %>

      </table>
    
     <% @follower_counter.each do |x| %>

          <td><b>followers ID: </b><%= x.to_a %></br>
          <b>following ID: </b><%= x.to_a%></td></br></br>
          
          <% end %>

      <% @user_searches.each do |u| %>
        
        Name: <%= u.name %>
        @<%= u.handlename %>
        <%= u.id %>
        </br> 
        
        <% if u.following_ids %>

          <%= form_tag follow_users_path, method: :post do %>
          <%= hidden_field_tag :follow, current_user.id %>
          <%= hidden_field_tag :following, u.id.to_s %>
          <%= hidden_field_tag :handlename, u.handlename %>
          <%= submit_tag 'follow' %>
          <% end %>

        <% else %>

          <%= form_tag unfollow_users_path, method: :post do %>
          <%= hidden_field_tag :follow, current_user.id %>
          <%= hidden_field_tag :following, u.id %>
          <%= hidden_field_tag :handlename, u.handlename %>
          <%= submit_tag 'unfollow' %>
          <% end %>

        <% end %>

        </br>

      <% end %>




    <% end%>

    </br>

    <% if @tweet_searches.empty?%>
      <strong>No Tweets found</strong>
    <% else %>
      Located the following tweets containing <b><%= params[:q] %></b>
      <% @tweet_searches.each do |s| %> 

        <div class="card">
          <div class="card-block">
            <p class="tweet-date"><%= s.created_at.strftime("%a %e %b %Y") %>&nbsp<%= s.created_at.strftime("%I:%M%p") %></p>
            <p class="tweet-text"><%= s.tweet %></p>  
          </div>
          <%= image_tag tweet.image, width: '300em' if s.image? %>
        </div>  <br />

      <% end %>
    <% end %>

  </div>

  <%= render partial: "navigation" %> 


</div>