<div class="user-index-container">
  
  <%= render partial: "avatar" %>  

  <%= render partial: "trending" %>  

  <div class="tweets-col">
    
    <%= render partial: "search_user" %>

    </br>

  <div id = "tweets_list_table">
    <%= render partial: "search_tweet" %>
  </div>

  </div>

  <%= render partial: "navigation" %> 

  <%= render partial: "counter" %>

</div>

  <%= render partial: "edit_profile_form" %>