<div class="user-index-container">
  
  <%= render partial: "avatar" %>  

  <%= render partial: "trending" %>  

  <div class="tweets-col">
    <div class="search-header">You have searched for <b><%= params[:q] %></b></div>

    <% if @user_searches.empty? %>
      <strong>No Users found, please try again</strong></br>
    <% else%>

    <% following_array = []%>
    <% @follower_counter.each do |test| %>

      <% if test.follower_id == current_user.id %>

        <% following_array << test.following_id %>

      <% end %>

    <% end %>

      <table class="result-table">
        
        <% @user_searches.each do |f| %>
          <tr>
            <td class="result-table-td-avatar"><%= image_tag f.img, class: "avatar-pic" %></td>
            <td class="result-table-td-profile"><div class="result-table-td-name"><%= f.name%></div>
              @<%= f.handlename%></td>
            <td align="right" class="result-table-td-follow">
                <% if following_array.include?(f.id) %>
                <%= form_tag unfollow_users_path, method: :post do %>
                <%= hidden_field_tag :follow, current_user.id %>
                <%= hidden_field_tag :following, f.id %>
                <%= submit_tag 'Following', class: "following-button" %>
                <% end %>
              
                <% else %>

                <%= form_tag follow_users_path, method: :post do %>
                <%= hidden_field_tag :follow, current_user.id %>
                <%= hidden_field_tag :following, f.id.to_s %>
                <%= submit_tag 'Follow', class: "follow-button" %>
                <% end %>

                <% end %>

            </td>
           
          </tr>

        <% end %>

      </table>

    <% end%>

    </br>

    <% if @tweet_searches.empty?%>
      <strong>No Tweets found</strong>
    <% else %>
      Located the following tweets containing <b><%= params[:q] %></b>
      <% @tweet_searches.each do |s| %> 

        <div class="card">
          <div class="card-block">
            <p class="tweet-date"><%= s.created_at.strftime("%a %e %b %Y") %>&nbsp<%= s.created_at.strftime("%I:%M%p") %></p>
            <p class="tweet-text"><%= s.tweet %></p>  
          </div>
          <%= image_tag s.image, width: '300em' if s.image? %>
        </div>  <br />

      <% end %>
    <% end %>

  </div>

  <%= render partial: "navigation" %> 

 <div class="followers-col">
    <%= link_to "#{@user_tweets.count} Tweets", users_path, method: :get %></br>
    <%= link_to "Following #{@following.count} user", following_users_path, method: :get %></br>
    <%= link_to "#{@follower.count} Followers", follower_users_path, method: :get %></br>
    <strong> Total likes</strong></br>
  </div>


</div>


<!-- The Modal -->
<div id="editProfileModal" class="modal">

    <%= render partial: "edit_profile_form" %>

</div>

<script>

// Get the modal
const modalEdit = document.getElementById('editProfileModal');

// Get the button that opens the modal
const btnEdit = document.getElementById("editProfile");

// Get the <span> element that closes the modal
const span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btnEdit.onclick = function() {
    modalEdit.style.display = "block";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modalEdit) {
        modalEdit.style.display = "none";
    }
}

</script>