<div class="user-index-container">

  <%= render partial: "avatar" %>  

  <%= render partial: "trending" %>  

  <div class="tweets-col">
    
    <div class="search-header">You have liked a total of <strong><%= @total_like.count %></strong> tweets.</div>

    <% @like_list.each do |list| %>

    <div class="card">
      <div class="card-block">
        <table>
          <tr>
            <td class="tweet-pic-align">
              <%= image_tag list.user.img, class: "avatar-pic-for-like" %>
            </td>

            <td class="tweet-details-align">
              <strong><%= list.user.name %></strong> <span class="tweet-name">@<%= list.user.handlename %>  · <%= list.created_at.strftime("%e %b") %> </span></br>
              <%= list.tweet %></br>
              <%= image_tag list.image, width: '300em' if list.image? %></br>
              <p class="options">
                <%= link_to 'Reply', tweet_path(list), class: "btn btn-outline-primary btn-sm" %>
                <%= link_to 'Show', tweet_path(list), class: "btn btn-outline-primary btn-sm" %>
              
              <% if list.likes.any? { |like| like.user == current_user } %>
                <%= link_to image_tag("filled.svg"), dislike_user_tweet_path(@user, list), method: :delete, remote: true %>
              <% else %>
                <%= link_to image_tag("not_filled.svg"), like_user_tweet_path(@user, list), method: :post, remote: true %>
              <% end %>
              </p>
            </td>
          </tr>
        </table>

      </div>
    </div>

    <% end %>

  </div>

  <%= render partial: "navigation" %>

  <%= render partial: "counter" %>

</div>

  <%= render partial: "edit_profile_form" %>